@-webkit-keyframes svg-wave {
  0% {
    d : path("M140.881198,194.260295 C257.600568,129.32862 342.939626,119.84993 418.009939,203.154617 C493.080251,286.459305 545.728689,70.9046172 636.439626,63.9593047 C727.150564,57.0139922 768.99822,139.670242 858.802907,119.431961 C948.607595,99.1936797 1071.91228,-32.9977266 1243.91228,7.75227342 C1415.91228,48.5022734 1404.10369,208.584305 1508.27166,178.709305 C1612.43963,148.834305 1633.73291,79.913472 1711.63588,98.8569055 C1776.28676,114.577866 1819.96778,221.391836 1889.37253,185.808108 C2017.32661,120.206212 2004.01952,336.769569 2004.01952,336.769569 L271.635881,337 L-149.063338,337 C-149.063338,337 -245.850307,175.637635 -58.0633382,228.867188 C33.8652851,254.92501 64.1722713,236.933925 140.881198,194.260295 Z")
  }

  50% {
    d : path("M-60.13579,199.189799 C-33.8674767,-71.7287911 170.194454,11.9640675 274.985105,83.0972992 C379.775756,154.230531 409.072181,161.653171 521.54913,124.460269 C634.026079,87.2673683 645.348165,219.42808 735.152853,199.189799 C824.95754,178.951518 948.262228,46.7601116 1120.26223,87.5101116 C1292.26223,128.260112 1309.89513,321.347957 1414.0631,291.472957 C1518.23106,261.597957 1580.53259,89.5639434 1732.07052,88.5665294 C1892.57296,87.5101116 1897.70372,225.708266 2049.59054,199.189799 C2201.47736,172.671332 2002.94707,336.794682 2002.94707,336.794682 L270.563429,337.025114 L-60.13579,337.025114 C-60.13579,337.025114 -469.886827,134.917309 -282.099858,188.146862 C-190.171235,214.204685 -65.9645849,259.30515 -60.13579,199.189799 Z")
  }

  to {
    d : path("M-160.553381,263.533987 C-124.4955,243.377988 -18.6139605,181.080724 56.456352,264.385412 C131.526664,347.690099 165.148428,226.409513 223.668826,168.5 C282.189224,110.590487 372.68516,208.331261 462.489847,188.09298 C552.294535,167.854699 723.262827,-40.1656225 847.424394,40.7522734 C971.58596,121.670169 1156.59375,252.295176 1300.40314,228.958726 C1444.21253,205.622277 1478.90991,106.221579 1563.51957,124.699258 C1655.80276,144.85274 1595.69955,250.007434 1832.41793,206.740235 C2069.1363,163.473036 2002.94707,336.794682 2002.94707,336.794682 L270.563429,337.025114 L-60.13579,337.025114 C-60.13579,337.025114 -495.794798,256.512987 -308.007829,309.74254 C-216.079206,335.800362 -208.740043,290.469854 -160.553381,263.533987 Z")
  }
}

@keyframes svg-wave {
  0% {
    d : path("M140.881198,194.260295 C257.600568,129.32862 342.939626,119.84993 418.009939,203.154617 C493.080251,286.459305 545.728689,70.9046172 636.439626,63.9593047 C727.150564,57.0139922 768.99822,139.670242 858.802907,119.431961 C948.607595,99.1936797 1071.91228,-32.9977266 1243.91228,7.75227342 C1415.91228,48.5022734 1404.10369,208.584305 1508.27166,178.709305 C1612.43963,148.834305 1633.73291,79.913472 1711.63588,98.8569055 C1776.28676,114.577866 1819.96778,221.391836 1889.37253,185.808108 C2017.32661,120.206212 2004.01952,336.769569 2004.01952,336.769569 L271.635881,337 L-149.063338,337 C-149.063338,337 -245.850307,175.637635 -58.0633382,228.867188 C33.8652851,254.92501 64.1722713,236.933925 140.881198,194.260295 Z")
  }

  50% {
    d : path("M-60.13579,199.189799 C-33.8674767,-71.7287911 170.194454,11.9640675 274.985105,83.0972992 C379.775756,154.230531 409.072181,161.653171 521.54913,124.460269 C634.026079,87.2673683 645.348165,219.42808 735.152853,199.189799 C824.95754,178.951518 948.262228,46.7601116 1120.26223,87.5101116 C1292.26223,128.260112 1309.89513,321.347957 1414.0631,291.472957 C1518.23106,261.597957 1580.53259,89.5639434 1732.07052,88.5665294 C1892.57296,87.5101116 1897.70372,225.708266 2049.59054,199.189799 C2201.47736,172.671332 2002.94707,336.794682 2002.94707,336.794682 L270.563429,337.025114 L-60.13579,337.025114 C-60.13579,337.025114 -469.886827,134.917309 -282.099858,188.146862 C-190.171235,214.204685 -65.9645849,259.30515 -60.13579,199.189799 Z")
  }

  to {
    d : path("M-160.553381,263.533987 C-124.4955,243.377988 -18.6139605,181.080724 56.456352,264.385412 C131.526664,347.690099 165.148428,226.409513 223.668826,168.5 C282.189224,110.590487 372.68516,208.331261 462.489847,188.09298 C552.294535,167.854699 723.262827,-40.1656225 847.424394,40.7522734 C971.58596,121.670169 1156.59375,252.295176 1300.40314,228.958726 C1444.21253,205.622277 1478.90991,106.221579 1563.51957,124.699258 C1655.80276,144.85274 1595.69955,250.007434 1832.41793,206.740235 C2069.1363,163.473036 2002.94707,336.794682 2002.94707,336.794682 L270.563429,337.025114 L-60.13579,337.025114 C-60.13579,337.025114 -495.794798,256.512987 -308.007829,309.74254 C-216.079206,335.800362 -208.740043,290.469854 -160.553381,263.533987 Z")
  }
}

@-webkit-keyframes bg {
  0% {
    background-size : 125%;
  }

  100% {
    background-size : 100%;
  }

}

@keyframes bg {
  0% {
    background-size : 125%;
  }

  100% {
    background-size : 100%;
  }

}

@-webkit-keyframes title-1 {
  0% { -webkit-transform : scale(0) rotate(0deg); transform : scale(0) rotate(0deg) }
  75% {-webkit-transform : scale(1.15) rotate(810deg);transform : scale(1.15) rotate(810deg)}
  100% {-webkit-transform : scale(1) rotate(1080deg);transform : scale(1) rotate(1080deg)}
}

@keyframes title-1 {
  0% { -webkit-transform : scale(0) rotate(0deg); transform : scale(0) rotate(0deg) }
  75% {-webkit-transform : scale(1.15) rotate(810deg);transform : scale(1.15) rotate(810deg)}
  100% {-webkit-transform : scale(1) rotate(1080deg);transform : scale(1) rotate(1080deg)}
}

@-webkit-keyframes title-2 {
  0% {
    opacity           : 0;
    -webkit-transform : translateY(-80px);
    transform         : translateY(-80px);
  }
  85% {
    opacity           : 1;
    -webkit-transform : translateY(10px);
    transform         : translateY(10px);
  }
  100% {
    opacity           : 1;
    -webkit-transform : translateY(0px);
    transform         : translateY(0px);
  }
}

@keyframes title-2 {
  0% {
    opacity           : 0;
    -webkit-transform : translateY(-80px);
    transform         : translateY(-80px);
  }
  85% {
    opacity           : 1;
    -webkit-transform : translateY(10px);
    transform         : translateY(10px);
  }
  100% {
    opacity           : 1;
    -webkit-transform : translateY(0px);
    transform         : translateY(0px);
  }
}
@-webkit-keyframes cake {
  from {
    opacity           : 0;
    -webkit-transform : translateY(150px);
    transform         : translateY(150px);
  }

  to {
    opacity           : 1;
    -webkit-transform : translateY(0);
    transform         : translateY(0);

  }
}
@keyframes cake {
  from {
    opacity           : 0;
    -webkit-transform : translateY(150px);
    transform         : translateY(150px);
  }

  to {
    opacity           : 1;
    -webkit-transform : translateY(0);
    transform         : translateY(0);

  }
}

@-webkit-keyframes float {
  from {
    -webkit-transform : translate3d(0, -4px, 0);
    transform         : translate3d(0, -4px, 0);
  }
  to {
    -webkit-transform : translate3d(0, 4px, 0);
    transform         : translate3d(0, 4px, 0);
  }
}

@keyframes float {
  from {
    -webkit-transform : translate3d(0, -4px, 0);
    transform         : translate3d(0, -4px, 0);
  }
  to {
    -webkit-transform : translate3d(0, 4px, 0);
    transform         : translate3d(0, 4px, 0);
  }
}
:root {
  --color-primary          : #4687cc;
  --color-secondary        : #dfb26f;
  --color-tertiary         : #d52121;
  --color-chocolate        : #4d311b;
  --color-chocolate-icing  : #241306;
  --color-strawberry       : #ca8186;
  --color-strawberry-icing : #ffd2dc;
  --color-pistachio        : #9dd8bb;
  --color-pistachio-icing  : #cce8e3;
  --color-red-velvet       : #681d1d;
  --color-red-velvet-icing : #dcc6c0;
  --color-text-base        : #d0f4ff;
  --font-primary           : "Ubuntu", sans-serif;
}
body {
  background  : var(--color-primary);
  font-family : var(--font-primary);
  font-size   : 100%;
}

@-webkit-keyframes rotate-sparkler {
  from {-webkit-transform : rotate(0deg);transform : rotate(0deg);}
  to {-webkit-transform : rotate(360deg);transform : rotate(360deg);}
}

@keyframes rotate-sparkler {
  from {-webkit-transform : rotate(0deg);transform : rotate(0deg);}
  to {-webkit-transform : rotate(360deg);transform : rotate(360deg);}
}
@-webkit-keyframes sparkle-effect {
  from, to {
    -webkit-animation-timing-function : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function         : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform                 : scale(1);
    transform                         : scale(1);
    opacity                           : 0;
  }

  40%, 43% {
    -webkit-transform : scale(1.2);
    transform         : scale(1.2);
    opacity           : 1;
  }

  70% {
    -webkit-transform : scale(1.1);
    transform         : scale(1.1);
    opacity           : 0;
  }
}
@keyframes sparkle-effect {
  from, to {
    -webkit-animation-timing-function : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function         : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform                 : scale(1);
    transform                         : scale(1);
    opacity                           : 0;
  }

  40%, 43% {
    -webkit-transform : scale(1.2);
    transform         : scale(1.2);
    opacity           : 1;
  }

  70% {
    -webkit-transform : scale(1.1);
    transform         : scale(1.1);
    opacity           : 0;
  }
}
@-webkit-keyframes gravity-icing {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function         : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform                 : translate3d(0, 0, 0);
    transform                         : translate3d(0, 0, 0);
  }

  40%, 43% {
    -webkit-animation-timing-function : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function         : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform                 : translate3d(0, -40px, 0);
    transform                         : translate3d(0, -40px, 0);
  }

  70% {
    -webkit-animation-timing-function : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function         : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform                 : translate3d(0, -5px, 0);
    transform                         : translate3d(0, -5px, 0);
  }
}
@keyframes gravity-icing {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function         : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform                 : translate3d(0, 0, 0);
    transform                         : translate3d(0, 0, 0);
  }

  40%, 43% {
    -webkit-animation-timing-function : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function         : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform                 : translate3d(0, -40px, 0);
    transform                         : translate3d(0, -40px, 0);
  }

  70% {
    -webkit-animation-timing-function : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function         : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform                 : translate3d(0, -5px, 0);
    transform                         : translate3d(0, -5px, 0);
  }
}
@-webkit-keyframes open-layers {
  from, 50%, to {
    -webkit-animation-timing-function : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function         : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    margin-top                        : 0;
    -webkit-transform                 : none;
    transform                         : none;
  }
  60% {
    -webkit-animation-timing-function : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function         : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    margin-top                        : 20px;
    -webkit-transform                 : skewX(-1.5deg) skewY(-1.5deg);
    transform                         : skewX(-1.5deg) skewY(-1.5deg);
  }
}
@keyframes open-layers {
  from, 50%, to {
    -webkit-animation-timing-function : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function         : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    margin-top                        : 0;
    -webkit-transform                 : none;
    transform                         : none;
  }
  60% {
    -webkit-animation-timing-function : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function         : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    margin-top                        : 20px;
    -webkit-transform                 : skewX(-1.5deg) skewY(-1.5deg);
    transform                         : skewX(-1.5deg) skewY(-1.5deg);
  }
}
@-webkit-keyframes bounce-cake {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function         : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform                 : translate3d(0, 0, 0);
    transform                         : translate3d(0, 0, 0);
  }

  40%, 43% {
    -webkit-animation-timing-function : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function         : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform                 : translate3d(0, -120px, 0);
    transform                         : translate3d(0, -120px, 0);
  }

  70% {
    -webkit-animation-timing-function : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function         : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform                 : translate3d(0, -5px, 0);
    transform                         : translate3d(0, -5px, 0);
  }
}
@keyframes bounce-cake {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function         : cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform                 : translate3d(0, 0, 0);
    transform                         : translate3d(0, 0, 0);
  }

  40%, 43% {
    -webkit-animation-timing-function : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function         : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform                 : translate3d(0, -120px, 0);
    transform                         : translate3d(0, -120px, 0);
  }

  70% {
    -webkit-animation-timing-function : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function         : cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform                 : translate3d(0, -5px, 0);
    transform                         : translate3d(0, -5px, 0);
  }
}
html,
body {
  display    : flex;
  min-height : 100%;
  width      : 100%;
  overflow   : hidden;
  max-height : 100%;
}

body {
  min-width                : 320px;
  margin                   : 0;
  -webkit-font-smoothing   : antialiased;
  -webkit-text-size-adjust : none;
  -moz-text-size-adjust    : none;
  -ms-text-size-adjust     : none;
  text-size-adjust         : none;
  font-family              : Helvetica, Arial, sans-serif;
  color                    : white;
  -webkit-box-sizing       : border-box;
  box-sizing               : border-box;
  padding                  : 1em;
  border                   : 16px solid transparent;
  -o-border-image          : 16 repeating-linear-gradient(-45deg,
  red 0, red 1em,
  transparent 0, transparent 2em,
  #58a 0, #58a 3em,
  transparent 0, transparent 4em);
  border-image             : 16 repeating-linear-gradient(-45deg,
  red 0, red 1em,
  transparent 0, transparent 2em,
  #58a 0, #58a 3em,
  transparent 0, transparent 4em);
  overflow                 : hidden;
  -webkit-animation        : bg 60s ease-in-out infinite alternate;
  animation                : bg 60s ease-in-out infinite alternate;
  font-size                : 16px;

  background               : radial-gradient(circle at 50% 70%, #110226 25%, #090016 80%);
}

.birthday {
  position              : relative;
  display               : -webkit-box;
  display               : -ms-flexbox;
  display               : flex;
  -webkit-box-orient    : vertical;
  -webkit-box-direction : normal;
  -ms-flex-direction    : column;
  flex-direction        : column;
  -webkit-box-align     : center;
  -ms-flex-align        : center;
  align-items           : center;
}
.float {
  -webkit-animation : float ease-in-out 4s alternate infinite;
  animation         : float ease-in-out 4s alternate infinite;
}
.birthday-head {
  text-align  : center;
  white-space : nowrap;
  position    : relative;
  z-index     : 3;
  margin-top  : 2em;
}
.birthday-title {
  margin      : 0.7em 0;
  line-height : 1.5;
}

.birthday-title__main {
  font-size         : 4em;
  -webkit-animation : title-1 0.75s linear forwards;
  animation         : title-1 0.75s linear forwards;
}

.birthday-footer {
  position       : absolute;
  bottom         : -4px;
  right          : 0;
  left           : 0;
  z-index        : 5;
  overflow       : hidden;
  pointer-events : none;
  height         : 20em;
}
.birthday-footer .birthday-wave {
  -webkit-animation-play-state : running;
  animation-play-state         : running;
  -webkit-animation            : svg-wave 60s linear infinite alternate;
  animation                    : svg-wave 60s linear infinite alternate;
}
.birthday-title__subtitle {
  opacity           : 0;
  font-size         : 3em;
  -webkit-animation : title-2 0.75s linear 1s forwards;
  animation         : title-2 0.75s linear 1s forwards;
  width             : 100%;
  white-space       : pre-wrap;
}

.birthday-canvas,
.birthday-fireworks,
.birthday-cursor {
  position       : absolute;
  top            : 0;
  right          : 0;
  bottom         : 0;
  left           : 0;
  height         : 100%;
  pointer-events : none;
  overflow       : hidden;
}

.birthday-firework {
  position       : absolute;
  pointer-events : auto;
  z-index        : 1;
}
.birthday-balloons {
  z-index : 2;
  width   : 100%;
}

.birthday-cake {
  cursor             : pointer;
  position           : relative;
  z-index            : 4;
  margin-top         : 4em;
  -webkit-transition : 0.3s ease-in-out;
  transition         : 0.3s ease-in-out;
  user-select        : none;
}
.birthday-cake * {
  user-select : none;
}

.birthday-cake .cake-inner {
  opacity           : 0;
  -webkit-animation : cake 0.85s ease-in-out 2s forwards;
  animation         : cake 0.85s ease-in-out 2s forwards;
}

.birthday-cake:hover {
  -webkit-transform  : scale(1.3);
  transform          : scale(1.3);
  -webkit-transition : ease-in-out 0.3s;
  transition         : ease-in-out 0.3s;
}
.birthday-cake::after {
  content  : '';
  position : absolute;
  top      : -1.5em;
  right    : -1.5em;
  bottom   : -1.5em;
  left     : -1.5em;

}
.birthday-cake .cake-layer {
  background : var(--color-secondary);
}
.birthday-cake .cake-icing,
.birthday-cake .cake-icing-drip {
  background : var(--color-tertiary);
}
.chocolate-cake .cake-layer {
  background : var(--color-chocolate);
}
.chocolate-cake .cake-icing,
.chocolate-cake .cake-icing-drip {
  background : var(--color-chocolate-icing);
}
.strawberry-cake .cake-layer {
  background : var(--color-strawberry);
}
.strawberry-cake .cake-icing,
.strawberry-cake .cake-icing-drip {
  background : var(--color-strawberry-icing);
}
.pistachio-cake .cake-layer {
  background : var(--color-pistachio);
}
.pistachio-cake .cake-icing,
.pistachio-cake .cake-icing-drip {
  background : var(--color-pistachio-icing);
}
.red-velvet-cake .cake-layer {
  background : var(--color-red-velvet);
}
.red-velvet-cake .cake-icing,
.red-velvet-cake .cake-icing-drip {
  background : var(--color-red-velvet-icing);
}
.birthday-cake .middle-layer,
.chocolate-cake .middle-layer,
.strawberry-cake .middle-layer,
.pistachio-cake .middle-layer,
.red-velvet-cake .middle-layer {
  background : white;
}

.sparkler {
  position      : relative;
  width         : 40px;
  height        : 40px;
  margin-left   : 55px;
  border-radius : 50px;
  top           : 15px;
  z-index       : 4;
}
.sparkler div {
  position          : absolute;
  display           : block;
  width             : 1px;
  height            : 40px;
  top               : 0;
  left              : 17px;
  background        : transparent;
  z-index           : 3;
  -webkit-transform : rotate(0);
  transform         : rotate(0);
}
.sparkler div:nth-of-type(2) {
  -webkit-transform : rotate(45deg);
  transform         : rotate(45deg);
  left              : 20px;
}
.sparkler div:nth-of-type(3) {
  -webkit-transform : rotate(90deg);
  transform         : rotate(90deg);
}
.sparkler div:nth-of-type(4) {
  -webkit-transform : rotate(135deg);
  transform         : rotate(135deg);
}
.sparkler div span {
  position                          : relative;
  display                           : block;
  width                             : 2px;
  height                            : 2px;
  margin                            : 4px;
  background                        : white;
  border-radius                     : 2px;
  -webkit-animation-name            : sparkle-effect;
  animation-name                    : sparkle-effect;
  -webkit-transform-origin          : center center;
  transform-origin                  : center center;
  -webkit-animation-iteration-count : infinite;
  animation-iteration-count         : infinite;
  -webkit-animation-duration        : .1s;
  animation-duration                : .1s;
}
.sparkler div span:nth-last-of-type(2) {
  -webkit-animation-duration : .2s;
  animation-duration         : .2s;
}
.sparkler div span:nth-last-of-type(3) {
  -webkit-animation-duration : .3s;
  animation-duration         : .3s;
}
.sparkler div span:nth-last-of-type(3) {
  -webkit-animation-duration : .4s;
  animation-duration         : .4s;
}
.sparkler div span:nth-last-of-type(4) {
  -webkit-animation-duration : .5s;
  animation-duration         : .5s;
}
.sparkler-stem {
  position    : relative;
  width       : 2px;
  height      : 30px;
  margin-left : 73px;
  background  : #333;
}
.bounce-cake .cake-layer {
  -webkit-animation-name      : open-layers;
  animation-name              : open-layers;
  -webkit-transform-origin    : center bottom;
  transform-origin            : center bottom;
  -webkit-animation-duration  : 0.7s;
  animation-duration          : 0.7s;
  -webkit-animation-fill-mode : both;
  animation-fill-mode         : both;
}
.bounce-cake .drip-container,
.bounce-cake .sparkler,
.bounce-cake .sparkler-stem {
  -webkit-animation-name      : gravity-icing;
  animation-name              : gravity-icing;
  -webkit-transform-origin    : center bottom;
  transform-origin            : center bottom;
  -webkit-animation-duration  : 1.7s;
  animation-duration          : 1.7s;
  -webkit-animation-fill-mode : both;
  animation-fill-mode         : both;
}
.bounce-cake {
  -webkit-animation-name      : bounce-cake;
  animation-name              : bounce-cake;
  -webkit-transform-origin    : center bottom;
  transform-origin            : center bottom;
  -webkit-animation-duration  : 1.5s;
  animation-duration          : 1.5s;
  -webkit-animation-fill-mode : both;
  animation-fill-mode         : both;
}

.container {
  position : absolute;
  width    : 300px;
  height   : 400px;
  top      : calc(50% - 200px);
  left     : calc(50% - 150px);
}

.cake-layer {
  position : relative;
  width    : 150px;
  height   : 25px;
}
.middle-layer {
  height : 15px;
}
.cake-icing {
  position      : relative;
  width         : 150px;
  height        : 12px;
  border-radius : 10px 10px 0 0;
}
.drip-container {
  position          : relative;
  -webkit-transform : translate3d(0, 0, 0);
  transform         : translate3d(0, 0, 0);
  top               : 0;
  left              : 0;
  z-index           : 2;
}
.cake-icing-drip {
  position      : absolute;
  top           : 5px;
  left          : 10px;
  width         : 10px;
  height        : 20px;
  border-radius : 10px;
  z-index       : 1;
}
.drip-2 {
  top    : 0px;
  left   : 25px;
  width  : 10px;
  height : 35px;
}
.drip-3 {
  left   : 40px;
  height : 15px;
}
.top .cake-layer,
.top .cake-icing {
  width       : 116px;
  margin-left : 17px;
  height      : 15px;
}

.no-md {
  display : none;
}

@media (max-width : 768px) {
  body { font-size : 8px }
  .no-sm {
    display : none;
  }

  .no-md {
    display : initial;
  }

}
